@import 'app/styles/colors.scss';
@import 'app/styles/transition.scss';

/****************
HEADER
****************/

/****** SIZES ******/
$header-height: 100px;

/****** COLORS ******/
$header-background-pinned: rgba( $black, $background-transparency );

	/****************
	LOGO
	****************/

	/****** SIZES ******/
	$header-logo-width: 70px;

.header{
	.content{
		background: transparent;
		height: $header-height;

		.logo{
			width: $header-logo-width;
		}
	}
}

.headroom{
	&.headroom--pinned{
		.content{
			background: $header-background-pinned;
			transition: all $transition-speed $transition-ease;
		}
	}
}
